.wrapper{
  border: solid green 1px;
}

.songDizzle{
  float: right;
  background-color: aliceblue;
  border: solid blue 1px;
}

.showList{
  float: left;
  background-color: aliceblue;
}

.showsUl{
  border: solid purple 1px;
}

.showsLi{
  border: solid green 1px;
}

/*.songLi{
  float: right;
}*/

#topDiv{
  border: solid red 1px;
}
/*.wrapper {
  padding-bottom: 50px;
}

.nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border: solid #eeeeee 1px;
}
.vert-nav {
  background: #fafafa;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.vert-nav + .vert-nav {
  border-left: solid #eeeeee 1px;
}
.vert-nav li {
  background: #f6f6f6;
  -webkit-transition: all ease .15s;
          transition: all ease .15s;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  min-height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.vert-nav li + li {
  border-top: solid #eeeeee 1px;
}
.vert-nav li:hover {
  background: #ebebeb;
}
.vert-nav li.active {
  background: #dfdfdf;
}
.vert-nav li:last-child {
  border-bottom: solid 1px #eeeeee;
}*/

footer {
  background: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer .player-song-title {
  color: white;
}
footer .player-song-title,
footer audio {
  vertical-align: middle;
}
