<div id="allShows" ng-repeat="show in shows | orderBy: 'date':reverse | filter: searchText" ng-controller="songController">

    <div ui-sref=".show({ 'showId2': show.date.substring(0, 10) })" ng-click="go(show.identifier)">{{show.title}} </div>

      <div id="allSongs" ng-repeat="song in songs | orderBy: 'songFile'" ng-controller="getSongCtrl">

        <div ng-click="playSong(song.songTitle, song.songFile, song.deeOne, song.directory, songs, songs.indexOf(song))">{{ song.songTitle }}</div>

      </div>

</div>
